.imagebox { 
   background-image: url("nyc.jpeg");
   background-repeat: no-repeat;
}

.text {
    background-color: lightgray;
    text-align: center;
    position: absolute;
    right: 2%;
    bottom: 2%;
    width: 50%;
    height: 150px;  
    float: left;
}

.imagebox > img {
    width: 100%;
    height: 800px;
    position: relative;
}

.imagebox > .clock{
    position: absolute;
    top: 5%;
    left: 2%;   

}
.clock{
    position: relative;
    background-color: paleturquoise;
    width: 300px;
    background-image: url("clockimage.png");
    background-repeat: no-repeat;
    border-radius: 300px;
    height: 300px;
    background-size: 300px 300px;
    float: right;
}

.clock > img {
    width: 100%;
    height: 100%;
}

.minutes > img {
    position: absolute;
    top: 42%;
    left: 50%;
    width: 33%;
    animation: rotatemins 10s infinite;
    transform-origin: 0%;
}

.hours > img {
    position: absolute;
    top: 43%;
    left: 50%;
    width: 29%;
    animation: rotatehrs 10s infinite;
    transform-origin: 0%;
} 

@keyframes rotatehrs {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(30deg);}
}

@keyframes rotatemins {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

