<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body style="background-color:bisque;">
    
    <div class="container mt-5">
        <h1 style="text-align:center; font-family:Times New Roman; background-color:cadetblue">Contact Us</h1
        <br>
        <br>
        <br>
        <form style="font-family:Times New Roman; font-size:large" class="row g-3" action="{{url_for('thankyou')}}" method="POST">
            <div class="col-md-6">
                <label for="firstName" class="form-label" required>First Name</label>
                <input type="text" class="form-control" id="firstName" required>
            </div>
            <div class="col-md-6">
                <label for="lastName" class="form-label" required>Last Name</label>
                <input type="text" class="form-control" id="lastName" required>
            </div>
            <br>
            <div class="col-md-8">
                <label for="emailInfo" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="emailInfo" required>
            </div>
            <br>
            <div class="col-md-4">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="phoneNumber" placeholder="+1(567)234 4569">
            </div>
            <br>
            <br>
            <div class="col-md-12">
                <label for="comments" class="form-label">Comments, questions?</label>
                <textarea class="form-control" id="comments" rows="3" required></textarea>
            </div>
            <br>
            <div class="col-md-12">
                <button type="submit" class="btn-primary">Submit</button>
            </div>

        </form>
    
    </div>
    <br>
    
    <div class="contact2"> 
        <ul>
            <div class="box">
                <div class="phone">
                    <img src=“{{url_for(‘static’,filename=‘../static/images/logos/phone.png’)}}” alt="">
                </div>
                <div class="number">
                    <span>&nbsp;  <a href="1(800)-999-9999">1(800)-999-9999</span>
                </div>
            </div>
            <br>
            <br>
            <div class="box">
                <div class="email">
                    <img src=“{{url_for(‘static’,filename=‘../static/images/logos/email.png’)}}” alt="">
                </div>
                <div class="name">
                    <span>&nbsp; Email to: <a href="https://www.gmail.com">@gmail.com</a></span>
                </div>
            </div>
            <br>
            <div class="box">
                <div class="instagram">
                    <img src=“{{url_for(‘static’,filename=‘../static/images/logos/instagram.png’)}}” alt="">
                </div>
                <div class="media">
                    <span>&nbsp; <a href="https://www.instagram.com">Follow us at instagram</a></span>
                </div>
            </div>
        </ul>
    </div

    <br>
    <br>
    <!--Navigate-->
    <div class="navigate" style="background-color:beige">
        <nav>
            <span><a href="../templates/index.html">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span><a href="../templates/northernLights.html">The Northern Lights</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span><a href="../templates/hiking.html">Hiking on Glaciers</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <a href="#">Contact Us</a>
        </nav>
        <br>
        <br><br><br><span style="text-align:center;">2023 @ Project 1 Saliou Barry</span>

    </div>
    <br>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>