<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <!--main-->
    <h1 style="text-align:center">The Northern Lights</h1>
    
    <!--image and text block-->
    <div class="text-image">
        <div class="hiking1"><img width="30%" src=“{{url_for(‘static’,filename=‘../static/images/photos/northern1.jpeg’)}}” alt=""></div>
        <div class="text"><p style="margin-top: 8%; margin-right: 15%; margin-left: 15%">
                THE OTHERWORLDLY
                AURORA borealis, or northern
                lights, begin high in the Earth’s
                atmosphere—at altitudes from
                60 to more than 250 miles—
                when charged particles from the
                sun become trapped in the
                Earth's magnetic field. The result
                is a colorful, dancing light show.</p></div>
        <div class="hiking3"><img width="30%" src=“{{url_for(‘static’,filename=‘../static/images/photos/northern3.jpeg’)}}” alt=""></div>
    </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br>  

    <!--text-->
    <div class="paragraph">
    <p>Glacier Experience is a small group experience that offers an easy glacier hike on Solheimajokull glacier with an experienced guide and is available all year around. The tour offers a pick-up from Reykjavik or a meet on location at Solheimajokull glacier. Add even more adventure to your stay in Iceland and come explore this amazing crawling glacier with us.</p>
    <p>Solheimajokull glacier is an outlet from the mighty Myrdalsjokull and is surrounded by some of Iceland's most grand volcanoes and during summertime, a glacier lagoon forms in front of the glacier only adding to the charm of the location. This popular day tour is the perfect way to get in real contact with the true reason behind the name Ice-land!</p>
    </div>
<br>

     <!--Navigate-->
    <div class="navigate">
        <nav>
            <span><a href="../templates/index.html">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span><a href="../templates/northernLights.html">The Northern Lights</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span><a href="../templates/hiking.html">Hiking on Glaciers</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <a href="../templates/contact.html">Contact Us</a>
        </nav>
        <br><br><span style="text-align:center">2023 @ Project 1 Haiying Xiao</span>

    </div>
    <br>       
    
</body>

</html>